<div class="app-container">
  <app-classes [categorias]="categorias" (categoriaSelecionada)="selecionarCategoria($event)"></app-classes>
  <app-carrinho [veiculosSelecionados]="veiculosSelecionados" (veiculorRemovido)="removerVeiculoCarrinho($event)"></app-carrinho>
  <div class="container-conteudo">
    <app-objetos *ngIf="categoriaSelecionada"[categoriaSelecionada]="categoriaSelecionada"
      [veiculos]="veiculos[categoriaSelecionada]" (veiculoSelecionado)="selecionarVeiculo($event)">
    </app-objetos>
    <app-propriedades *ngIf="veiculoSelecionado" [veiculo]="veiculoSelecionado"></app-propriedades>
    <button (click)="addVeiculoCarrinho()">
      Adicionar ao Carrinho
    </button>
  </div>
</div>
